.cubecontainer {
    position: relative;
    width: 500px;
    height: 500px;
    display: inline-block;
}

.perspective {
    position: absolute;
    left: 100px;
    top: 100px;
    -webkit-perspective: 800px;
    -webkit-perspective-origin: -50% -50%;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

.cube div {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #eee;
    box-shadow: inset 0 0 80px rgb(152, 255, 85);
}

.back { transform: rotateY(180deg) translateZ(200px); }
.right { transform: rotateY(90deg) translateZ(200px); }
.left { transform: rotateY(-90deg) translateZ(200px); }
.top { transform: rotateX(-90deg) translateZ(200px); }
.bottom { transform: rotateX(90deg) translateZ(200px); }
.front { transform: translateZ(200px); }